.App{
  min-height: 100vh;
  background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
}

.search-form{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar{
  width: 50%;
  border: 2px solid white;
  padding: 10px;
  align-self: center;
  margin-left: 250px;
  margin-top: 30px;
  border-radius: 5px;
}

.search-button{
  background-color: rgb(167, 167, 245);
  border: none;
  display: inline-block;
  visibility: visible;
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  border-radius: 5px;
  height: 40px;
  width: 90px;
  padding: 10px 10px;
  font-size: 18px;
}

.recipes{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}